@model DineTime.Models.Reservation

@{
    ViewData["Title"] = "Make a Reservation";
}

<header>
    <nav class="navbar">
        <a id="logo-link" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img id="dinetime-logo" alt="Logo" src="~/contents/svg_assets/logo_icon.svg" />
        </a>
    </nav>
</header>


<div class="container" id="testres">
    <div class="row">
    <div class="col">
        <figure>
            <img src="~/contents/images/tacos.png" alt="">
        </figure>
        <ul id="left-group" class="list-group" name="res-fillout">
            <li class="list-group-item" id="res-header">
                Make a reservation
            </li>
            <li class="list-group-item">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @Html.Hidden("RestaurantId", 2)
                    
                    @Html.Hidden("ClientId", 1)
                    
                    <div id="date-time-div" class="form-group">
                        <label asp-for="ReservationDate" class="control-label">Date & Time</label>
                        <input asp-for="ReservationDate" class="form-control" />
                        <span asp-validation-for="ReservationDate" class="text-danger" ></span>
                    </div>
                    <div id="party-size-div" class="form-group">
                        <label asp-for="NumberInParty" class="control-label">Party Size</label>
                        <input asp-for="NumberInParty" class="form-control" />
                        <span asp-validation-for="NumberInParty" class="text-danger"></span>
                    </div>
                    <div id="create-btn" class="form-group">
                        <input id="sub-res" type="submit" value="Reserve Now" class="btn btn-primary" />
                    </div>
                </form>
            </li>
        </ul>
        <br>

    </div>
    <div class="col">
        <div id="whole-card" class="card">
            <h3 id="res-name" class="card-title"> La Casa Tacos <span id="bkmrk"> <img src="~/contents/svg_assets/bookmark_icon.svg" alt=""></span></h3>
            <h5 class="card-subtitle mb-2 text-muted">348 Monmouth Ave N. Monmouth OR, 97361</h5>
            <p></p>
            <h6 class="card-subtitle "> 
                <span>
                    <img src="~/contents/svg_assets/cutlery_icon.svg" alt="">
                </span> 
                Taqueria / Authenic Mexican  </h6>
            <p></p>
            <ul class="list-group list-group-horizontal list-group-flush">
                <li class="list-group-item"><h5 id="overview" style="color:#B5464C; text-decoration:underline;">Overview</h5></li>
                <li class="list-group-item"><h5 class="text-muted" id="photos">Photos</h5></li>
                <li class="list-group-item"><h5 class="text-muted" id="menu">Menu</h5></li>
                <li class="list-group-item"><h5 class="text-muted" id="reviews">Reviews</h5></li>
            </ul>
            <p></p>
            <div id="overview-card" class="card">
                <h3 id="stars" class="card-title">★★★★★</h3>
                <span></span>
                <h5  id="ov-sub" class="card-subtitle">
                    <span>
                        <img src="~/contents/svg_assets/review_icon.svg" alt="">
                    </span>

                    <span> </span>
                    <span> </span>

                    76 Reviews</h5>

                <p></p>

                <h4  id="ov-sub"  class="card-subtitle">
                    Most recent review
                </h4>

                <h5  id="ov-subr"  class="card-subtitle">
                    "They have the best tacos ever, my favorite would probably be
                    the carne asada tacos." - Olivia R.
                </h5>

                <p></p>

                <h4  id="ov-sub"  class="card-subtitle">
                    Pricing
                </h4>
                <h5  id="ov-sub"  class="card-subtitle">
                    <span>
                        <img src="~/contents/svg_assets/money_icon.svg" alt="">
                    </span>

                    <span> </span>
                    <span> </span>

                    $5 to $18

                </h5>

                <p></p>

                <h4  id="ov-sub"  class="card-subtitle">
                    Popular Dishes
                </h4>

                <ul class="list-group list-group-horizontal list-group-flush">
                    <li class="list-group-item" >Tacos de Lengua</li>
                    <li class="list-group-item" >Carne Asada Burrito</li>
                    <li class="list-group-item" >Sopes de Pollo</li>
                </ul>

                <br>

                <h4  id="ov-sub"  class="card-subtitle">
                    Common Tags
                </h4>

                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" > Quick Bite </li>
                    <li class="list-group-item" > Festive </li>
                    <li class="list-group-item" > Lively </li>
                    <li class="list-group-item" > Inexpensive </li>
                </ul>

            </div>

        </div>
    </div>
    </div>
</div>

<script src="~/wwwroot/js/site.js"></script>