@{
    ViewData["Title"] = "Reservation Error Page";
}

<header>
    <nav class="navbar">
        <a id="logo-link" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img id="dinetime-logo" alt="Logo" src="~/contents/svg_assets/logo_icon.svg" />
        </a>
    </nav>
</header>

<body>
    <div class="warning">
        Oops! It looks like the reservation you are trying to schedule is unavailable. 
    </div>
    <br>
    <div class="returnHome">
        Please click the DineTime logo above to return to the home page.
    </div>
</body>