@{
    ViewData["Title"] = "Home Page";
}

<header>
    <nav class="navbar">
        <a id="logo-link" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img id="dinetime-logo" alt="Logo" src="~/contents/svg_assets/logo_icon.svg" />
        </a>
        <a id="top-rated-link" class="nav-link" asp-area="" asp-controller="Home" asp-action="TopRatedEats">Top Rated Eats</a>
        <a id="write-review-link" class="nav-link" asp-area="" asp-controller="Reviews" asp-action="Create">Write a Review</a>
    </nav>
</header>

<div id="search-block">

    <div id="form-row" class="row">

        <div class="input-group" id="date-request">
            <span class="input-group-text">
                <img src="~/contents/svg_assets/schedule_icon.svg" alt="">
            </span>
            <input type="date">
        </div>

        <div class="input-group" id="time-request">
            <span class="input-group-text">
                <img src="~/contents/svg_assets/clock_icon.svg" alt="">
            </span>
            <input type="time">
        </div>

        <div class="input-group" id="party-size">
            <span class="input-group-text">
                <img src="~/contents/svg_assets/person_icon.svg" alt="">
            </span>
            <input type="number" placeholder="2" min="1", max="12">
        </div>

        <div class="input-group" id="location-name">
            <span class="input-group-text" >
                <img src="~/contents/svg_assets/search_icon.svg" alt="">
            </span>
            <input type="search" placeholder="Location, Cuisine">
        </div>

        <div class="input-group" id="submit-form">
            <button id="submit-button" type="submit">Search!</button>
        </div>

</div>

<body>
    @for (int i = 0; i < 5; i++)
    {
        <br>
    }
    <div class="row">
        <div class="col-md-3">
            <h4>Restaurants Near You</h4>
        </div>
    </div>
    <br>
    <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="Restaurant1">
                <div class="restaurantName">
                    Fieri's Bar & Grill
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="restaurantImage">
                            <img id="bg-img" src="~/contents/images/burgle2.png" width="85" height="85">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="restaurantType">
                            &#9733 &#9733 &#9733 &#9733 &#9734
                            <div class="reviewNum">
                                151 reviews
                            </div>
                            Steakhouse
                        </div>
                    </div>
                </div>
                <p></p>
                <a id="res-now-btn" asp-controller="Reservations" asp-action="FieriReservation">Reserve Now</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="Restaurant2">
                <div class="restaurantName">
                    La Casa Tacos
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="restaurantImage">
                            <img id="mexi-img" src="~/contents/images/tacos.png" width="85" height="85">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="restaurantType">
                            &#9733 &#9733 &#9733 &#9733 &#9733
                            <div class="reviewNum">
                                76 reviews
                            </div>
                            Taqueria
                        </div>
                    </div>
                </div>
                <p></p>
                <a id="res-now-btn" asp-controller="Reservations" asp-action="LaCasaReservation">Reserve Now</a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="Restaurant3">
                <div class="restaurantName">
                    Santana Sandwiches
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="restaurantImage">
                            <img id="ital-img" src="~/contents/images/santana_sandwich.png" width="85" height="85">
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="restaurantType">
                            &#9733 &#9733 &#9733 &#9733 &#9734
                            <div class="reviewNum">
                                58 reviews
                            </div>
                            Sandwich
                        </div>
                    </div>
                </div>
                <p></p>
                <a id="res-now-btn" asp-controller="Reservations" asp-action="SantanaReservation">Reserve Now</a>
            </div>
        </div>
    </div>
</div>
</body>